<h1 data-scrollinity-data-container="load_here" data-scrollinity-bottom-px-limit="50" data-scrollinity-path="/load_data">Some text is below...</h1>

<div id="load_here">
  supposingly, the first page of the content is already loaded... 
</div>

<div data-scrollinity-loading-pic="1" style="display: none"><%=image_tag 'loading.gif', alt: 'Loading', title: 'Loading'%></div>
